[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorplane"]
	path = colorplane
	url = https://github.com/bbuchsbaum/colorplane
[submodule "deflist"]
	path = deflist
	url = https://github.com/bbuchsbaum/deflist
[submodule "multivarious"]
	path = multivarious
	url = https://github.com/bbuchsbaum/multivarious
[submodule "neuroim"]
	path = neuroim
	url = https://github.com/bbuchsbaum/neuroim
[submodule "neuroim2"]
	path = neuroim2
	url = https://github.com/bbuchsbaum/neuroim2
[submodule "rflann"]
	path = rflann
	url = https://github.com/YeeJeremy/rflann
	registered = false
