[submodule ".registry"]
	path = .registry
	url = https://github.com/bbuchsbaum/bbuchsbaum.r-universe.dev
	branch = HEAD
[submodule "bidser"]
	path = bidser
	url = https://github.com/bbuchsbaum/bidser
[submodule "ciftier"]
	path = ciftier
	url = https://github.com/bbuchsbaum/ciftier
[submodule "dipca"]
	path = dipca
	url = https://github.com/bbuchsbaum/dipca
[submodule "fmridataset"]
	path = fmridataset
	url = https://github.com/bbuchsbaum/fmridataset
[submodule "fmridesign"]
	path = fmridesign
	url = https://github.com/bbuchsbaum/fmridesign
[submodule "fmrihrf"]
	path = fmrihrf
	url = https://github.com/bbuchsbaum/fmrihrf
[submodule "neurocluster"]
	path = neurocluster
	url = https://github.com/bbuchsbaum/neurocluster
[submodule "neuroim2"]
	path = neuroim2
	url = https://github.com/bbuchsbaum/neuroim2
[submodule "neurotransform"]
	path = neurotransform
	url = https://github.com/bbuchsbaum/neurotransform
[submodule "niflowr"]
	path = niflowr
	url = https://github.com/bbuchsbaum/niflowr
[submodule "openneuroR"]
	path = openneuroR
	url = https://github.com/bbuchsbaum/openneuroR
[submodule "phynd"]
	path = phynd
	url = https://github.com/bbuchsbaum/phynd
[submodule "shard"]
	path = shard
	url = https://github.com/bbuchsbaum/shard
[submodule "xnatR"]
	path = xnatR
	url = https://github.com/bbuchsbaum/xnatR
