[submodule ".registry"]
	path = .registry
	url = https://github.com/bbuchsbaum/bbuchsbaum.r-universe.dev
	branch = HEAD
[submodule "bidser"]
	path = bidser
	url = https://github.com/bbuchsbaum/bidser
[submodule "fmrihrf"]
	path = fmrihrf
	url = https://github.com/bbuchsbaum/fmrihrf
[submodule "neuroim2"]
	path = neuroim2
	url = https://github.com/bbuchsbaum/neuroim2
